
html{
    font-size: 16px;
}


header{
    width: 100%;
    background-color: aqua;

    padding: 1% 0;
    
    text-align: center;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}

@charset "UTF-8";

*{
    box-sizing: border-box;
}


.anim-box {    
    background: linear-gradient(to right, #362ae0 0%,#3b79cc 50%,#42d3ed 100%);
    border-radius: 5px;
    max-width: 400px;
    height: 250px;
    
    animation-name: boxanime;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

/*
.anim-box.fadein.is-animated {
    animation: fadeIn 1.7s cubic-bezier(0.33, 1, 0.68, 1) 1 forwards;
}
*/

@keyframes boxanime{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}




.nav-list {

    transition: opacity 1s; 
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 40vh;
    list-style: none;
    margin: 0;
    padding: 60px 0 30px;
    background:  rgba(125, 125, 125, 0.95);
    text-align: center;
}

.vis{
    opacity: 1;
    visibility: visible;
    
}
.nav-list > li a {
    display: block;
    padding: 10px 1em;
    text-decoration: none;
    color: white;
}

.fa-bars{
    font-size: 140%;
    position: absolute; 
    top: 30%;
    left: 1%;
    opacity: 1;
    visibility: visible;
}

.fa-xmark{
    font-size: 140%;
    position: absolute; 
    top: 30%;
    left: 1%;
    opacity: 0;
    visibility: hidden;
}

.vis2{
    opacity: 1;
    visibility: visible;
}

.vis3{
  opacity: 0;
  visibility: hidden;
}


.acd-btn{
    background-color: pink;
    border: none;
    font-size: 1.3em;
    padding: 1%;
    position: relative;
}


main ul li{
    list-style: none;
    padding: 2%;
    background-color: antiquewhite;
    transition: 
        line-height .3s ease-out,
        opacity      .1s linear,
        visibility .1s linear ;
}

/*ボタン押すと*/
.acord > li{
    visibility:hidden;
    opacity: 0;
    transition:
        line-height 0.2s ease-out,
        opacity     0.5s linear 0.1s,
        visibility  0.5s linear 0.1s;
}


ul.vis-acd-li.acord > li{
/*
.acord > li{

*/    visibility:visible;
    opacity: 1;
      /* 開くアニメーション */
    transition:
        line-height 0.3s ease-out,
        opacity     0.5s linear 0.1s,
        visibility  0.5s linear 0.1s;

}


.slide-show{
    background-color: aquamarine;
    display:flex;
    justify-content: center;

    background-repeat: no-repeat;
    background-size: 25% 100%;
    background-image: url("../images/ham.png");
    background-position: 50% 0;
}

.fa-arrow-left, .fa-arrow-right{
    position: relative;
    padding: 8% 14%;
    font-size: 200%;
}

.youtube-table{
    width: 70%;
    text-align: center;
    justify-content: center;
}



.grid{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 1%;

/*    justify-content: center;
*/
    gap:   20px 2%;
    /*
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 200x 200px 200px;
    */
}

/*.a, .b, .c, .d, .e, .f{*/
.item{
    /*
    width: 360px;
    height: 360px;
    */
    width: 32%;
    /*margin: 1%;
*/
    border: 1px solid;
}

/*
.iii{
    width: 100%;
}
*/

.item img{
    width: inherit;
    min-width: 200px;
}


footer{
    background-color: black;
    width: 100%;
    color: antiquewhite;
    text-align: center;
    padding: 1%;
}


@media screen and (max-width:660px){
    .grid{
        display: flex;
        flex-direction: column;
    }

    .item{
        margin: 0 auto; /* 中央寄せになる */
        width: 100%;
    }
}
